{% extends "vedios/base.html" %}
{% load staticfiles %}
{% load djangomarkdown %}

{% block title %}有库网 - 精选优质视频 | 关于{% endblock %}


          {% block nav %}
          <li><a href="/">&nbsp;&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li class="active"><a href="/about/">&nbsp;&nbsp;&nbsp;&nbsp;关于&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          {% endblock %}


    {% block search %}
    {% endblock %}


{% block tags %}{% endblock %}


{% block show_vedio %}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">关于</h3></div>
  
  <div class="panel-body" style="height: 600px;">
    <p>收集、分享好玩儿的视频。</p>
  </div>
</div>
{% endblock %}
