<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}有库网 - 精选优质视频{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'vedios/bootstrap-3.1.1/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vedios/bootstrap-3.1.1/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vedios/css/main.css' %}" />
    
    <script src="{% static 'vedios/js/jquery-2.1.0.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'vedios/js/main.js' %}" type="text/javascript" ></script>
    
    <link rel="Shortcut Icon" href="{% static 'vedios/image/haveku.ico' %}" />
    <link rel="Bookmark" href="{% static 'vedios/image/haveku.ico' %}" />
    
    <meta name='56-site-verification' content='ByzR4918Ue9-MwKxbD3BrxrlYeSnVy4PxWDGn-46tUk' />
</head>


<body>
<div class="container">

  <div class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% block nav %}
          <li class="active"><a href="/">&nbsp;&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="/about/">&nbsp;&nbsp;&nbsp;&nbsp;关于&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          {% endblock %}
        </ul>
      </div>
    </div>
  </div>


  <div class="panel panel-info" style="height: 96px; padding-top: 10px; margin-top: 68px; ">
  <div class="col-lg-7" style="height: 90px;">
    <img src="{% static 'vedios/image/logo.png' %}" width="508" height="72" />
  </div>
  <div class="col-lg-5">
    <br />
    {% block search %}
    <form action="/search/" method="post">
    {% csrf_token %}
    <div class="input-group">
        <input name="search" type="text" class="form-control" />
        <span class="input-group-btn"><button class="btn btn-default" type="submit">站内搜搜看</button></span>
    </div>
    </form>
    {% endblock %}
  </div>
  </div>
  



  {% block tags %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">分类</h3>
    </div>
    
    <div class="panel-body">
      {% for tag in tags %}
      {% if not tag.catalogue %}
        <a href="/tag-{{ tag.id }}/" class="label {% if activetag.id == tag.id %} label-primary {% else %} label-info {% endif %} label-tag">{{ tag.name }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}
  
  {% block index_list %}{% endblock %}
  {% block show_vedio %}{% endblock %}



</div>

<div class="blog-footer">
  <p> <a href="http://haveku.com">有库网</a> by <a href="http://sleepycat.org/">@Henry</a></p>
  <p></p>
</div>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbd7719db01f6398a8d9a8fd5b467ca4e' type='text/javascript'%3E%3C/script%3E"));
</script>


</body>
</html>

